body {
  overflow: hidden;
}
.container {
  max-width: 1000px;
  margin: 10px auto;
}
.vizyon,
.misyon {
  width: 100%;
  margin: 10px 0px;
}
.vizyon p,
.misyon p {
  text-align: left;
  line-height: 20px;
  letter-spacing: 0.5px;
}
h3 {
  color: crimson;
  margin: 10px 0px;
}
